*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
  background-color: #FAF9FA;
  color: #0b0c10;
  font-family: 'Muli', sans-serif;
  font-size: 16px;

}

h1{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0;
}

h4{
margin-top: 0;
}

.container{
  height: 100vh;
  /* display: grid;
  grid-row-gap: 10px;
  grid-template-columns: .25fr 2fr .25fr ;
  grid-template-rows: 50px minmax(200px,1fr) 50px; */
} 

header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #404376;
  color: #e9e5e9;
  grid-column: 1/-1;
  text-align: center;
  font-weight: bolder;
  padding: 0.5em;
  letter-spacing: 1px;
  font-family: "Muli" 'Sintony', sans-serif;
  font-size: 2em;
 
}

.headerNav{
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px; ;
  align-content: flex-end;
  
}
.appName{
  border: solid red 2px;
  margin-left: -140px;
}
/* .sidebar{
  grid-row: 1/4;
} */
ol {
  list-style: none;
}


.calgrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, .5fr);
  color: #090E1E;
  text-align: center;
  /* font-weight: bold; */
  font-size: 1em;
  margin: 1em auto 2em auto;
  max-width: 75%;
  background-color:#FAF9FA;
  

}

.day{
  border: solid #0b0c10 1px;
}
.day img {
  margin: 10px;
}


.navbar{
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.headerNav a {
  padding:10px;
}

a {
  color:#0b0c10;
 text-decoration: none;
 color: white;
  
}
a:hover {
  color:#090E1E;
}

footer {
  background-color:#FAF9FA;
  color: black;
  grid-column: 1/-1;
  font-size: 1em;
  padding: 1em;
  margin-top: 0;
  /* position: absolute;
  width: 100%;
  bottom: 0; */
}

.footerNav{
display: flex;
justify-content: space-between;
margin:auto;
max-width: 80%;
}


button{
padding: 10px;
color: #E9E5E9 ;
background-color: #0B5C84;
border: solid 1px #E9E5E9;

}
button:active{
  transform: translateY(1px);

  
}